{
    "extends": "google",

    "plugins": [
        "react"
    ],

    "env": {
        "browser": true,
        "commonjs": true,
        "es6": true,
        "node": true,
        "mocha": true,
        "jquery": true
    },

    "parserOptions": {
        "ecmaVersion": 6,
        "ecmaFeatures": {
            "jsx": true
        },
        "sourceType": "module"
    },
    
    "rules": {
        "no-this-before-super": "warn",
        "no-undef": "warn",
        "no-unreachable": "warn",
        "constructor-super": "warn",
        "valid-typeof": "warn",
        "no-const-assign": "error",
        "new-parens": "error",
        "prefer-arrow-callback": "error",
        "arrow-spacing": "error",
        "no-mixed-spaces-and-tabs": "error",
        "space-infix-ops": "error",
        "indent": "error",
        "operator-linebreak": "error",
        "linebreak-style": "error",
        "newline-per-chained-call": "error",
        "comma-dangle": "warn",
        "func-call-spacing": "off",
        "rest-spread-spacing": "off"
    }
}